[workspace]
resolver = "2"
members = [
  "examples/run_wasm",
  "examples/demo",
  "examples/drag_n_drop",
  "examples/text",
  "examples/z_ordering",
  "examples/scene",
]

[workspace.package]
edition = "2021"
version = "0.2.2"
license = "MIT OR Apache-2.0"
repository = "https://github.com/loopystudios/bevy_vello"

[workspace.dependencies]
bevy = { version = "0.13.0", default-features = false, features = [
  "bevy_asset",
  "bevy_winit",
  "bevy_core_pipeline",
  "bevy_pbr",
  "bevy_render",
  "bevy_ui",
  "multi-threaded",
  "x11",
  "tonemapping_luts",
  "bevy_gizmos",
] }

[package]
name = "bevy_vello"
description = "Render assets and scenes in Bevy with Vello"
authors = [
  "Sebastian Hamel <sebjfk@gmail.com>",
  "Spencer C. Imbleau <spencer@imbleau.com>",
]
keywords = ["gamedev", "graphics"]
version.workspace = true
license.workspace = true
edition.workspace = true
repository.workspace = true

[lib]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
bevy = { workspace = true }
vello = "0.1.0"
vello_svg = "0.1.0"
velato = "0.1.0"
once_cell = "1.19.0"

[dev-dependencies]
wasm-bindgen-test = "0.3.42"
