[workspace]
resolver = "2"
members = ["demo", "examples/*"]

[workspace.package]
edition = "2021"
version = "0.1.0"
license = "MIT OR Apache-2.0"
repository = "https://github.com/vectorgameexperts/bevy-vello"

[workspace.dependencies]
bevy = { version = "0.13", default-features = false, features = [
  "bevy_asset",
  "bevy_winit",
  "bevy_core_pipeline",
  "bevy_pbr",
  "bevy_render",
  "bevy_ui",
  "multi-threaded",
  "x11",
  "tonemapping_luts",
  "bevy_gizmos",
] }

[package]
name = "bevy-vello"
description = "Render Lottie and SVG assets in Bevy with Vello"
authors = [
  "Sebastian Hamel <sebjfk@gmail.com>",
  "Spencer C. Imbleau <spencer@imbleau.com>",
]
keywords = ["gamedev", "graphics"]
version.workspace = true
license.workspace = true
edition.workspace = true
repository.workspace = true

[lib]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
bevy = { workspace = true }
vello = "0.1"
vello_svg = "0.1"
velato = { git = "https://github.com/linebender/velato", branch = "vellottie-merge" }

[dev-dependencies]
wasm-bindgen-test = "0.3"

# These settings are to get the WASM blob smaller for the demo.
[profile.release]
codegen-units = 1
opt-level = 'z'
