[workspace]
resolver = "2"
members = ["demo"]

[workspace.package]
edition = "2021"
version = "0.3.15"
license = "MIT OR Apache-2.0"
repository = "https://github.com/vectorgameexperts/bevy-vello"

[workspace.dependencies]
# TODO: We shouldn't need all of these features...
bevy = { version = "0.12", default-features = false, features = [
  "bevy_asset",
  "bevy_winit",
  "bevy_core_pipeline",
  "bevy_pbr",
  "bevy_render",
  "bevy_ui",
  "multi-threaded",
  "x11",
  "tonemapping_luts",
] }

[package]
name = "bevy-vello"
description = "Render Lottie and SVG assets in Bevy with Vello"
authors = [
  "Sebastian Hamel <sebjfk@gmail.com>",
  "Spencer C. Imbleau <spencer@imbleau.com>",
]
keywords = ["gamedev", "graphics"]
version.workspace = true
license.workspace = true
edition.workspace = true
repository.workspace = true

[lib]

[features]
default = []
debug = ["bevy/bevy_gizmos"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
bevy = { workspace = true }
vello = { git = "https://github.com/linebender/vello", rev = "28914d66f675efecf03c53261a0fb1b8ecce4fe9" }
vello-svg = { git = "https://github.com/vectorgameexperts/vello-svg", version = "0.1" }
vellottie = { git = "https://github.com/vectorgameexperts/vellottie", version = "0.1" }
flate2 = "1.0"

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
wasm-bindgen-test = "0.3"

# These settings are to get the WASM blob smaller for the demo.
[profile.release.package."demo"]
codegen-units = 1
opt-level = 'z'
