[workspace]
resolver = "2"
members = ["demo"]

[workspace.package]
edition = "2021"
version = "0.3.2"
license = "MIT OR Apache-2.0"
repository = "https://github.com/vectorgameexperts/bevy-vello"

[workspace.dependencies]
bevy = { version = "0.11", default-features = false, features = [
  "bevy_asset",
  "bevy_winit",
  "bevy_core_pipeline",
  "bevy_render",
  "bevy_sprite",
  "bevy_ui",
  "x11",
  "filesystem_watcher",
  "bevy_gizmos",
] }

[package]
name = "bevy-vello"
description = "Render Lottie and SVG assets in Bevy with Vello"
authors = [
  "Sebastian Hamel <sebjfk@gmail.com>",
  "Spencer C. Imbleau <spencer@imbleau.com>",
]
keywords = ["gamedev", "graphics"]
version.workspace = true
license.workspace = true
edition.workspace = true
repository.workspace = true

[lib]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
bevy = { workspace = true }
vello = { git = "https://github.com/linebender/vello", rev = "b0303ccf98df15a8b196272720d364a56f7304ba" }
vello-svg = { git = "https://github.com/vectorgameexperts/vello-svg", version = "0.0.1" }
vellottie = { git = "https://github.com/vectorgameexperts/vellottie", version = "0.0.1" }

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
wasm-bindgen-test = "0.3"

# These settings are to get the WASM blob smaller for the demo.
[profile.release.package."demo"]
codegen-units = 1
opt-level = 'z'
