[workspace]
resolver = "2"
members = [
  "examples/run_wasm",
  "examples/demo",
  "examples/drag_n_drop",
  "examples/text",
  "examples/scene",
  "examples/svg",
  "examples/lottie",
  "examples/scene_ui",
  "examples/render_layers",
  "examples/cube3d",
  "examples/headless",
]

[workspace.package]
edition = "2021"
version = "0.6.1"
license = "MIT OR Apache-2.0"
repository = "https://github.com/linebender/bevy_vello"

[workspace.dependencies]
bevy = { version = "0.15.2", default-features = false, features = [
  "bevy_asset",
  "bevy_winit",
  "bevy_window",
  "bevy_core_pipeline",
  "bevy_render",
  "bevy_ui",
  "multi_threaded",
  "x11",
  "tonemapping_luts",
  "bevy_gizmos",
] }

[package]
name = "bevy_vello"
description = "Render assets and scenes in Bevy with Vello"
authors = [
  "Sebastian Hamel <sebjfk@gmail.com>",
  "Spencer C. Imbleau <spencer@imbleau.com>",
]
keywords = ["gamedev", "graphics"]
version.workspace = true
license.workspace = true
edition.workspace = true
repository.workspace = true

[lib]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
bevy = { workspace = true }
# Ensure this version stays up to date with the README
vello = "0.4.0"
vello_svg = "0.6.0"
velato = "0.5.0"
thiserror = "2.0.11"
once_cell = "1.19.0"
skrifa = "0.27.0"
bytemuck = { version = "1.21.0", features = ["derive"] }

[dev-dependencies]
wasm-bindgen-test = "0.3.50"

[features]
default = ["default_font"]
svg = []
lottie = []
experimental-dotLottie = ["lottie"]
default_font = ["bevy/default_font"]
