name: CI
on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v4

      - name: Setup | Ubuntu dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends libasound2-dev libudev-dev libwayland-dev libfontconfig1-dev

      - name: Setup | Toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy,rustfmt

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2

      - name: Build | Clippy
        run: cargo clippy --features bevy/wayland -- -D warnings

      - name: Build | Rustfmt
        run: cargo fmt -- --check

  check:
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v4

      - name: Setup | Ubuntu dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends libasound2-dev libudev-dev libwayland-dev libfontconfig1-dev

      - name: Setup | Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2

      - name: Build | Check (native)
        run: cargo check --workspace

      - name: Build | Check (wasm)
        run: cargo check --workspace --target wasm32-unknown-unknown

  test:
    needs: [check]
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v4

      - name: Setup | Ubuntu dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends libasound2-dev libudev-dev libwayland-dev libfontconfig1-dev

      - name: Setup | Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: Setup | wasm-pack
        uses: jetli/wasm-pack-action@v0.4.0

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.7.3

      - name: Build | Test (native)
        run: cargo test --features bevy/wayland

      - name: Build | Test (wasm)
        run: wasm-pack test --node

  # If this fails, consider changing your text or adding something to .typos.toml.
  typos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: check typos
        uses: crate-ci/typos@v1.29.9
